//selon les types de cards
.block-cards {

  .card-item{






    .ico-text {
      .shadow-big;
      border-radius: var(--radius);
      padding: var(--spacing-medium);
      --width-item: 120px;
      text-align: center;

      .img {
        height: var(--width-item);
        margin: auto;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      .rich-text {
        .pt-small;
        max-width: 450px;
        margin: auto;
      }

    }
  }

}

