@import "cardsType/ico-title-text2.less";
@import "cardsType/title-text-link.less";
@import "cardsType/title-text-link-img.less";

.block-cards{
  .pb-small;
  //background-color: #1ab7ea;
  .container{
    //outline: 1px dashed #ffe968;
  }

  .cards{ //.row

    --gutter:10px;
    --padding:var(--spacing-medium);
    --radius: 0px;

    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));

    .card-item-col{ //.col-md-6
      padding: var(--gutter);

      .card-item{
        text-align: center;
        .shadow-big;
        padding: var(--padding);
        border-radius: var(--radius);

      }

    }
  }

}

