@import "cardsType/ico-text.less";
@import "cardsType/title-text-link.less";
@import "cardsType/title-text-link-img.less";

.block-cards {

  position: relative;

  .pb-small;
  //background-color: #1ab7ea;
  .container {
    //outline: 1px dashed #ffe968;
  }

  .cards { //.row

    --gutter: 10px;
    --radius: 0px;

    margin-left: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));

    .card-item-col { //.col-md-6
      padding: var(--gutter);

      .card-item {
        .shadow-big;
        border-radius: var(--radius);
        height: 100%;
        background: linear-gradient(90deg, rgba(62, 173, 165, 1) 0%, rgba(62, 173, 165, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
        background-size: 2000px;
        background-position-x: -1000px;
        transition: background-position-x 0.5s;


        .button, .text{
          .mb-small;
        }
        @media (hover: hover) {
          &:hover {
            background-position-x: 0px;
            color: @color-white;
            cursor: pointer;

            .button {
              transition: all 0.4s;
              background-color: @color-white;
              color: @color-primary;
            }

            .text-link, .text{
              transition: color 0.4s;
              color: @color-white;
            }
          }
        }
      }

    }
  }

}

