
.block.block-seance {
  .mb-medium;


  .wrap-seance {

    .row {
      .shadow-big;
    }

    display: flex;
    justify-content: center;

    .nuage {
      position: relative;
      height: 300px;
      top:-20px;


      svg{
        pointer-events: none;
      }

      @media (min-width: @screen-md) {

        height: 360px;
      }

      @media (min-width: @screen-lg) {
        top:0px;
        left: -50px;
        height: 360px;
      }


      @media (min-width: @screen-xl) {
        left: -80px;
        height: 400px;
      }
      @media (min-width: @screen-xxl) {
        left: -160px;
        height: 500px;
      }

    }

  }

  .wrap-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);

    @media (min-width: @screen-lg) {
      padding: var(--spacing-small) var(--spacing-medium) var(--spacing-medium) 0 ;
    }


    .title-seance {
      position: relative;
      top: -15px;
      @media (min-width: @screen-lg) {
        top: 0px;
        text-align: right;
      }
      color: @color-grey-light;
    }

    .title{
      //.mr-small;
      text-transform: uppercase;
      color: @color-primary;
    }
    .time {
      color: @color-grey-light;
      font-style: italic;
    }

    .title, .time {
     // display: inline-flex;
    }


    .rich-text {
      .py-small;
    }

    .button {
      display: inline-flex;
    }
  }

  @media (min-width: @screen-lg) {
    &.invert {
      .wrap-seance {
        .row {
          > div {
            &:first-child {
              order: 2;
            }

            .nuage {
              left: auto;

              @media (min-width: @screen-lg) {
                right: -50px;
              }

              @media (min-width: @screen-xl) {
                right: -80px;
              }
              @media (min-width: @screen-xxl) {
                right: -160px;
              }
            }

            &.wrap-text {

              padding: var(--spacing-small) 0 var(--spacing-medium) var(--spacing-medium);
              text-align: right;

              .title-seance {
                text-align: left;
              }
            }
          }
        }

      }
    }
  }
}


