.list-icons {

  --ico-size: 30px;


  display: flex;
  flex-direction: row;

  li {
    display: flex;

  }

  .item-link {

    padding: 3px;
    @media (min-width: @screen-sm) {
      padding: 10px;
    }



    a {
      border: 3px solid;
      border-radius: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;

      @media (hover: hover) {
        &:hover {
          color: var(--color-primary);
          background-color: var(--color-white);
          border: 3px solid var(--color-primary);
          .shadow-big;

          .ico {
            .btn-hover-fx-to-up;

          }

        }
      }

      .ico {
        > svg {
          position: relative;
          top:2px;
          width: var(--ico-size);
          height: var(--ico-size);
        }
      }


    }

    .text {
      display: none;
    }
  }


}