.main-menu {
  a {
    color: var(--color-white);
    text-decoration: none;
  }

  .row {
    .py-big;
  }

  .nav-main.list-button {
    li {
      .button.sz-small;
      background-color: white;
      a { color: @color-primary;}
    }
  }


  .social {

  }

  .pages {
  }


}