.main-menu {
  a {
    color: var(--color-white);
    text-decoration: none;
  }

  .row {
    .py-big;
  }

  .nav-main.list-button {
    li {


      a {      .button.sz-small;

        color: @color-primary;
        background-color: white;}
    }
  }


  .social {

  }

  .pages {
  }


}