.navbar {
  height: var(--nav-bar-height, 80px);
  display: flex;
  justify-content: space-between;

  > .a, > .b, > .c {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  > .a {
     width: 100%;

    @media (min-width: @screen-xl) {
      width: 15%;
      button.ico{
        display: none !important;
      }
    }
   }

  > .b {
    width: 70%;
  }

  > .a {
    justify-content: left;
  }

  > .c {
    justify-content: flex-end;
  }


  > .b {
    display: none;
    @media (min-width: @screen-xl) {
      display: flex;
    }
  }
   > .c {
    display: none;
    @media (min-width: @screen-sm) {
      display: flex;
    }
  }

}