.navbar{
    height: var(--nav-bar-height,80px);
    display: flex;
    justify-content: space-between;
    >.a,>.b,>.c{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >.a,>.c{
      width: 30%;
    }
    >.b{
      width: 30%;
    }
    >.a{
      justify-content: left;
    }
    >.c{
      justify-content: flex-end;
    }
}