.item-card {
  width:  300px;
  @media(min-width: @screen-xxl){
    width:  400px;
  }

  .mxy-small;

  .project-card {
    //outline: 1px solid #eee;
    position: relative;
    background: linear-gradient(90deg, rgba(62, 173, 165, 1) 0%, rgba(62, 173, 165, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background-size: 1000px;
    background-position-x: -500px;
    transition: background-position-x 0.5s;
    .shadow-medium;

    &[href] { //en wysiwyg on ne met pas le lien sur tout le machin
      cursor: pointer;
      user-select: none;
    }

    @media (hover: hover) {

      &:hover {
        background-position-x: 0px;

        .texts, .texts h2{
          color: white;
        }

        .button {
          transition: all 0.4s;
          background-color: @color-white;
          color: @color-primary;
        }
      }
    }


    .thumb {
      position: relative;
      height: 200px;
      @media(min-width: @screen-xxl){
        height:  300px;
      }
      > img, > video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        display: block;
      }

      > img {
        background-color: #EEE;
      }

      > video {
      }
    }

    .texts {
      //min-height: 300px;
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;

      @media(min-width: @screen-md){
        height: 200px;
      }

      @media(min-width: @screen-xxl){
        height: 300px;
      }

      .button {

      flex-shrink: 0;}

      /*.tags {

        a {
          display: inline-block;

          color: var(--color-grey);
          line-height: 1.5em;
          text-transform: lowercase;

          &:before {
            content: ".";
          }
        }
      }*/

    }

    h2 {
      > * {
        //outline: 1px dotted green;
      }
    }

    h2, h2 b {
      font-weight: bold !important;
      line-height: 1.1 !important;
      font-size: var(--fs-h2) !important;
      // .mb-small;
    }

    .texts {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 20px;
      @media(min-width: @screen-xxl){
      .py-medium;
      .px-medium;
      }
      //min-height: 250px;
    }
  }
}