.project-card{
  //outline: 1px solid #eee;
  position: relative;

  &[href]{ //en wysiwyg on ne met pas le lien sur tout le machin
    cursor: pointer;
    user-select: none;
  }


  @media(hover: hover){

    &.has-img{
      .texts {
        transition: background-color 0.5s;
      }
      .thumb {
        transition: filter 0.5s;
      }
    }


    &:hover{
      &.has-img{
        .texts{
          background-color: var(--color-grey-light);
        }
        .thumb{
          filter: saturate(1);
        }
      }
    }
  }


  //couleurs
  color:var(--color-1);

  &.has-img{
    .logoclient{
      position: absolute;
      top:15px;
      left: 15px;
      max-width: 300px;
      max-height: 300px;
      //object-fit: contain;
      //object-position: top left;
      //filter: sepia(20%) brightness(10);
      z-index: 1;
    }
    .thumb{
      width: 100%;
      position: relative;
      filter: saturate(0.5);
      >img{
       // filter: brightness(0.9);
        max-width: 100%;
        height: auto;
        display: block;
      }
      >video{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        //object-fit: contain;
      }
    }
    .texts{
      //min-height: 300px;
      text-align: left;
      align-items: flex-start;
      background-color: var(--color-white-sand);
      justify-content: space-between;

      .tags {

        a{
          display: inline-block;
         /*&:first-child{
           .mt-small;
          }*/

          color:var(--color-grey);
          line-height: 1.5em;
          text-transform: lowercase;
          &:before{
            content: ".";
          }
        }
      }

    }
  }


  h2, h2 b{
    //font-weight: bold !important;
    //line-height: 1.1 !important;
    //font-size: var(--fs-h3) !important;
    .h2 !important;
    font-size: var(--fs-h3) !important;
    font-weight: normal !important;
    //.mb-small;
  }
  .button{
    transition: none !important;
    text-transform: uppercase;
    >svg{
      margin-left: var(--spacing-small) !important;
    }
  }
  .texts{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .py-medium;
    .px-medium;
    //min-height: 250px;
  }

}