.project-page {
  .images {
    position: relative;
    >img {
      position: relative;
    }
    .logoclient {
      position: absolute;
      z-index: 2;
      left: 50%;
      >img{
        padding: 10px 20px;
        transform: translate(-50%,-50%) ;
        background-color: #FFF;
        max-height: 70px;
        max-width: 200px;
        @media(min-width: @screen-xl){
          max-width: 300px;
          max-height: 200px;
        }
      }

    }
    .poster-wrap{ //parallax container
      overflow: hidden;
      height: calc( (var(--container-width) - 30px) / 2 );
      .poster {
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      >video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
        object-fit: cover;

      }
    }

  }

  .tags {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    > * {
      //display: block;
      .mb-small;
    }
  }

  .social-shares {
    margin-left: -5px; //juste histoire de caler les icones sur les tags
  }



  .project-header {


    h2{
      .mt-small;
      height: 40px;
      &:empty{
        height: 0px;
        margin-top: 0;
      }
    }

    .images{
      position: relative;
    }



  }


}