@import "./main-navbar";
@import "./panel-main-nav.less";
#nav{
  .logo{
    width: 200px;
    height: 37.5px;
    background-image: url("./logo-cayceo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .a{
    button{
      margin-right: 40px;
    }
  }
}

