@keyframes kf-top {
  49% {
    transform: translateY(-50%);
  }
  50% {
    opacity: 0;
    transform: translateY(50%);
  }
  51% {
    opacity: 0;
  }
}

@keyframes kf-down {
  49% {
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
    transform: translateY(-50%);
  }
  51% {
    opacity: 0;
  }
}


@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes from-up {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes from-down {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-hover-fx-to-up{
  animation-name: kf-top;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


.btn-hover-fx-to-down{
  animation-name: kf-down;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


.btn-hover-fx-bounce-left{
  animation-name: bounce-left;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.btn-hover-fx-from-right{
  animation-name: from-right;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.btn-hover-fx-from-left{
  animation-name: from-left;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.btn-hover-fx-from-up{
  animation-name: from-up;
  animation-delay: 0.25s;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.btn-hover-fx-from-down{
  animation-name: from-down;
  animation-delay: 0.25s;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
