@import "./fonts/montserrat.less";
@import "./fonts/quicksand.less";
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,800;1,100;1,300;1,400;1,800&family=Quicksand:wght@700&display=swap');


#root{
  a{
    text-decoration: none;
  }
}
body{
  --font-normal:'Montserrat', sans-serif;
  --font-titre:'Quicksand', sans-serif;
  --fs-h1:32px;
  --fs-h2:20px;
  --fs-text:14px;
  --fs-link:14px;

  @media(min-width: @screen-sm){
    --fs-h1:36px;
  }
  @media(min-width: @screen-lg){
    --fs-h2:20px;
    --fs-h1:40px;
  }
  @media(min-width: @screen-xl){
    --fs-h1:42px;
  }
  @media(min-width: @screen-xxl){
    --fs-text:16px;
    --fs-h2:24px;
    --fs-h1:58px;
  }

}
body{

  font-family: var(--font-normal);
  font-display: swap;
 // font-weight: 400;
  line-height: 1.75;
  font-size: var(--fs-text);
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: var(--font-titre);
  font-display: swap;
  //text-transform: uppercase;
}
h1,.h1{
  font-size: var(--fs-h1);
  line-height:1.1;
  font-weight: bold;
  color: @color-grey-dark;
  text-transform: uppercase;
}
h2,.h2{
  font-size: var(--fs-h2);
  line-height: 1.2;
  font-weight: bold;
  color: @color-grey-dark;
}

h3,.h3{
  font-size: 1.15em;
  color : @color-primary;
  text-transform: uppercase;
}
h4,.h4{
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.05em;
}
h5,.h5{
  font-size: 1em;
}
h6,.h6{
  font-size: 0.8em;
}


[style^="background-color"] .rich-text{

  a,b,h1,h2,h3,h4,h5,h6,.blockquote, p{
    color: @color-white !important;
  }
}

.rich-text{

  b{
    font-weight: bold;
   // color: var(--color-primary);
  }

  a{
    text-decoration: underline !important;
  }

  h2{
    text-align: center;
    &:before{
      content: "";
      display: block;
      height: 70px;
      width: auto;
      background-position: center;
      background-image: url("../../logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 5px;
    }
  }

  blockquote{
    .quote;
  }

  .monogramme{
    text-align: center;
    svg{
      width: 70px;
      height: 70px;
      color: var(--color-primary);
    }
  }

  h5{
    text-align: center;
    .h2;
  }

  //listes
  /*
  ol,ul{
    list-style: none;
    li{
      display: flex;
      align-items: center;
      font-size: 0.8em;
      margin-bottom: 0.5em;
    }
    li::before{
      background-color: @color-primary;
      color: @color-primary-complementaire;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 1em;
      border-radius: 100%;
    }
  }
  ul{
    li::before{
      content: '';
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
  ol {
    counter-reset: li;
    li::before{
      font-size: 0.8em;
      content: counter(li);
      counter-increment: li;
      width: 2em;
      height: 2em;
    }
  }

   */

}

.quote{

  text-align: center;
  display: flex;
  .h4 !important;
  font-style: italic;
  color: @color-primary;

  span{
    //
    .h4 !important;
    display: flex;

  }
  &:before, &:after{
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    background-position: right;
    background-image: url("./quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    fill: @color-primary;
    color: @color-primary;
  }
  &:before{
    .mr-small;
  }
  &:after{
    align-self:flex-end;
    transform: scaleX(-1);
    .ml-small;
  }

}


label{
  font-family: var(--font-normal);
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
// menu

.text-link{
  font-family: var(--font-titre);
  text-transform: uppercase;
  font-size: var(--fs-link);
  letter-spacing: 0.1em;
  color: @color-grey-dark;

  @media (hover: hover) {
    a:hover {
      color: @color-primary;
    }
  }

  //outline: 1px solid red;
  >svg{
    width: calc(var(--fs-link) * 1.2);
    height: calc(var(--fs-link) * 1.2);
    &:first-child{
      margin-right: 4px;
    }
  }
}