@import "./fonts/montserrat.less";
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
//@import "./fonts/open-sans.less";
//@import "./fonts/libre-baskerville.less";

#root{
  a{
    text-decoration: none;
  }
}
body{
  --font-normal:'Montserrat', sans-serif;
  --font-titre:'Inria Sans', sans-serif;

  --fs-h1:38px;
  --fs-h2:24px;
  --fs-text:16px;
  --fs-link:12px;

  @media(min-width: @screen-sm){
    --fs-h1:42px;
    --fs-h2:24px;
  }
  @media(min-width: @screen-lg){
    --fs-h1:56px;
    --fs-h2:24px;
  }
  @media(min-width: @screen-xxl){
    --fs-h1:64px;
    --fs-h2:28px;
  }

}
body{
  font-family: var(--font-normal);
  font-weight: 400;
  font-size: 14px;

  @media(min-width: @screen-sm){
    font-size: 16px;
  }
  @media(min-width: @screen-xl){
    font-size: 18px;
  }
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: var(--font-titre);
  //text-transform: uppercase;

}
h1,.h1{
  font-size: var(--fs-h1);
}
h2,.h2{
  font-size: var(--fs-h2);
  line-height: 1.1;
}

h3,.h3{
  font-size: 1.5em;
}
h4,.h4{
  font-size: 1.15em;
}
h5,.h5{
  font-size: 1em;
}
h6,.h6{
  font-size: 0.8em;
}


.txt, .text{
  b{
    font-weight: bold;
    color: var(--color-orange);
  }

  blockquote{
    .h2;
    font-weight: bold;
  }
}



label{
  font-family: var(--font-normal);
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.rich-text{
  line-height: 1.75;
  a{
    text-decoration: underline !important;
  }
}


// menu

.text-link{
  font-family: var(--font-normal);
  //text-transform: uppercase;
  font-size: var(--fs-link);
  font-weight: 400;
  letter-spacing: 0.1em;
  //outline: 1px solid red;
  >svg{
    width: calc(var(--fs-link) * 1.2);
    height: calc(var(--fs-link) * 1.2);
    &:first-child{
      margin-right: 4px;
    }
  }
}