@import "./icon-circle-item";
@import "./icon-list-item";
@import "./icon-button-item";

.block-icon{

  .py-medium;
  .container{
    .list{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      >*{

      }
    }

  }

  &.bgColor{
    background-color: @color-primary;
    .text{
      color: @color-white;
    }
    .img {
      border-color: white;
    }
  }
}

