@import "./icon-circle-item";
@import "./icon-list-item";
@import "./icon-button-item";

.block-icon{
  background-color: var(--color-bg);
  .py-medium;
  .container{
    .list{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      >*{

      }
    }

  }
}

