.icon-circle-item .icon-item{

  position: relative;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //couleurs
  color: var(--color-1);

  --width-img: 150px;
  min-width: 360px;

  @media (min-width: @screen-xl) {
    max-width: 400px;
  }
  @media (min-width: @screen-xxl) {
    max-width: 440px;
  }

  .img {

    .pxy-small;
    border-radius: 100%;
    border: 3px solid var(--color-orange);
    height:var(--width-img);
    width: var(--width-img);

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .text {
    text-align: center;
    height: var(--width-img);
    width: 300px;
    .py-small;
  }

  &.invert {
    .img {
      order: 2;
    }

  }

}