.block-projets{
  .py-medium;
  //background-color: #1ab7ea;
  .container{
    //outline: 1px dashed #ffe968;
    .items{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }

  }
}

