.block-projets{
  .py-big;
  //background-color: #1ab7ea;
  .container{
    outline: 1px dashed yellow;

    .bricks{
      //outline: 1px solid red;
      //margin-left: auto;
      margin-right: auto;
    }
  }
}

.projet-item{
  position: relative;
  user-select: none;
  background-color: var(--color-bleu-lighter);
  //margin: var(--spacing-small);

  /*
  @screen-sm:576px;
  @screen-md:768px;
  @screen-lg:992px;
  @screen-xl:1200px;
  */

  width: 300px;
  /*
  outline: 2px solid green;
  @media(min-width: 576px){
    outline: 2px solid #801a2b;
    width: calc( (540px - 30px) / 2 - 30px );
  }
  @media(min-width: 768px){
    outline: 2px solid #f3ef38;
    width: calc( (720px - 30px) / 2 - 30px );
  }

  @media(min-width: 992px){
    outline: 2px solid #462780;
    width: calc( (960px - 30px) / 2 - 30px );
  }
  @media(min-width: 1200px){
    outline: 2px solid #da92dc;
    width: calc( (1140px - 30px) / 3   );
  }
  */

  img{
    //display: block;
    max-width: 100%;
    height: auto;
  }
  h2{
    font-weight: bold;
  }
  >div{
    padding: var(--spacing-small);
  }

}