.projet-item{
  //outline: 1px solid #eee;
  position: relative;
  user-select: none;



  //couleurs
  color:var(--color-1);




  &.has-img{


    img.thumb{
      cursor: pointer;
      max-width: 100%;
      height: auto;
      display: block;
    }
    .texts{
      min-height: 300px;
      text-align: left;
      align-items: flex-start;
      background-color: var(--color-bleu-lighter);
      justify-content: space-between;
    }
  }


  h2{
    font-weight: bold;
    line-height: 1;
    .mb-medium;
  }
  .button{
    text-transform: uppercase;
    >svg{
      margin-left: var(--spacing-small) !important;
    }
  }
  .texts{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .py-medium;
    .px-medium;
    min-height: 400px;
  }

}