
.button{
  outline: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  justify-content: center;
  appearance: none;
  overflow: hidden;
  user-select: none;
  height: var(--height);
  padding: var(--spacing-small) var(--spacing-medium);

  border-radius:  60px;
  background-color:@color-primary;
  color: white;

  --ico-size:64px;


  &:not(:disabled){
    cursor: pointer;
  }

  //typography
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;

  &.sz-small{
    .h4;
    min-width: auto;
    color: white;
    padding: 15px 30px;
  }


  &.square{
    width: var( --height);
    padding: 0;
  }

  //with icons
  svg{
    display: block;
    margin: 0;
    width: var(--ico-size);
    height: var(--ico-size);
    &:first-child{
      margin-left: calc( -0.5 * var(--padding-x));
      margin-right: calc( 0.2 * var(--padding-x));
    }
    &:last-child{
      margin-left: calc( 0.2 * var(--padding-x));
      margin-right: calc( -0.5 * var(--padding-x));
    }
    &:only-child, .square& {
      margin-left: 0;
      margin-right: 0;
    }
  }

  //colors
  @media(hover: hover){
    &:hover{
      //filter:brightness(0.9) contrast(1.2) hue-rotate(10deg);
    }
  }

}




